@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.OpenSans {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Lora {
  font-family: "Lora","Open Sans", sans-serif;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  transition: opacity 0.3s ease-in-out;
}
.custom-scrollbar:hover::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.418);
  border-radius: 4px;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.ant-drawer-body:hover::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  transition: opacity 0.3s ease-in-out;
}
.ant-drawer-body:hover::-webkit-scrollbar-track {
  background: transparent;
}

.ant-drawer-body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.418);
  border-radius: 4px;
}

.ant-drawer-content-wrapper {
    backdrop-filter: blur(25px) !important;
    overflow: hidden;
}

.ant-tooltip {
  backdrop-filter: blur(20px);
}