name: "Docker Compose CI"

on:
    push: 
        branches: ["main"]
    pull_request:
        branches: ["main"]
    
jobs:
    compose-test:
        runs-on: ubuntu-latest
    
        steps:
          - name: Checkout Code
            uses: actions/checkout@v3

          - name: Setup Docker Buildx
            uses: docker/setup-buildx-action@v3 

          - name: Docker Compose Build
            run: docker compose build

          - name: Docker Run
            run: docker compose up frontend backend --abort-on-container-exit

          - name: Success Message
            if: success()
            run: echo "Docker Compose ran successfully!"
        
          - name: Docker Compose Logs - if fails
            if: failure()
            run: docker compose logs
        
          - name: Stop Container
            if: always()
            run: docker compose down
        
